.nav-links a {
    color: #374151;
    transition: 0.2s;
    text-decoration: none;
    position: relative;
    font-weight: 500;
}

.nav-links a:hover {
    color: var(--primary);
}

.nav-links a.active {
    color: var(--primary);
    font-weight: 800 !important;
    border-bottom: 2px solid var(--primary);
}

/* Optional: underline effect for active/hover */
.nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: var(--primary);
    transition: width 0.3s;
}

.nav-links a:hover::after,
.nav-links a.active::after {
    width: 100%;
}
